<%- partial('partials/header') %>

<div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="/images/bg.jpg">
  <div class="container center">
    <h1>Let's fund the future together</h1>
    <p>Giving back doesn't have to cost the earth. We're focused on making a better, brighter tomorrow <strong>for all of us</strong>.</p>
    <a href="/user/register"><button class="btn btn-trans btn-lg" id="start-btn">Start today</button></a>
  </div>
</div>

<div id="section-1" class="row">
  <div class="container">
    <h1 class="text-color-1">Become part of the solution to climate change</h1>
    <h3 class="text-color-g">Fund the Future is a sustainable crowdfunding platform that helps green idea projects become a reality.</h3>
    <br>
    <a href="/auth/facebook"><button class="btn btn-1 btn-lg">Sponsor a project and be a climate hero</button></a>
  </div>
</div>

<%- partial('partials/footer') %>
