<%- partial('partials/header') %>

<div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="/images/bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <hr>
      </div>
    </div>
    <h1>Let's fund the future together</h1>
    <p>Giving back doesn't have to cost the earth. We're focused on making a better, brighter tomorrow for all of us.</p>
    <a href="/user/register"><button class="btn btn-trans btn-lg" id="start-btn">Make it happen</button></a>
    <br><br><br>
    <div class="row">
      <div class="col-md-2">
        <hr>
      </div>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
