* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 60px;
  font-weight: 300;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #666;
  color: white;
  padding: 20px;
  text-align: center;
}

.header {
  background-color: rgba(255,255,255,.92);
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 5;
}

.parallax-window {
  padding: 180px 0px 100px;
  min-height: 500px;
  background: transparent;
  color: white;
}

.navbar-brand {
  color: #666;
  font-size: 1.5em;
  font-weight: 300;
}

.navbar-brand>img {
  display: inline-block;
  height: 25px;
}

.navbar-nav>li>a {
  color: #666;
  font-size: 1.2em;
}

.navbar {
  padding: 15px 0px;
}

.navbar-right {
  padding: 10px 0px;
}

.icon-bar {
  background-color: #666;
}

.btn-1 {
  color: white;
  background-color: #51a33d;
  border: 2px solid #51a33d;
}

.center {
  text-align: center;
}

a.btn-1  {
  color: white !important;
  font-weight: 100 !important;
}

.btn-1:hover {
  background-color: #76c563;
  border: 2px solid #76c563;
  color: white !important;
}

.btn-trans {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.btn-trans:active {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

a.btn-trans  {
  color: white;
  font-weight: 100 !important;
}

.btn-trans:hover {
  background-color: white;
  color: #51a33d;
}

.btn-trans-blk {
  color: #666;
  background-color: transparent;
  border: 2px solid #666;
}

.btn-trans-blk:active {
  color: #666;
  background-color: transparent;
  border: 2px solid #666;
}

a.btn-trans-blk  {
  color: #666;
  font-weight: 100 !important;
}

.btn-trans-blk:hover {
  background-color: #666;
  color: white;
}

.btn-wrap {
  white-space: normal;
  word-wrap: break-word;
}

#start-btn {
  padding: 14px 29px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  display: inline-block;
}

.margin-tb-md {
  margin-top: 25px;
  margin-bottom: 20px;
}

.margin-t {
  margin-top: 20px;
}

.margin-tb {
  margin-top: 20px;
  margin-bottom: 10px;
}

.margin-tb-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-facebook {
  background-color: #3b5998;
  color: white;
  font-weight: bold;
}

.btn-facebook:hover {
  background-color: #293e6a;
  color: white;
  font-weight: bold;
}

.thumbnail-content {
  padding: 10px;
}

.highlight-line {
  margin: 10px 0;
  background-color: #333 !important;
  color: white !important;
}

.highlight-line p {
  margin: 10px;
}

.text-color-1 {
  color: #51a33d;
}

.text-color-w {
  color: white;
}

.text-color-g {
  color: #666;
}

.text-color-lg {
  color: #999;
}

.text-color-b {
  color: black;
}

#section-1 {
  padding: 50px 50px;
  text-align: center;
}

#section-2 {
  padding: 50px 50px;
  background-color: #f7fafa;
}

#browse-section {
  margin-top: 100px;
}

.top-cat {
  background-color: #51a33d;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  padding: 5px;
  margin: 0;
  vertical-align: text-center;
  border: 1px solid #d9d9de;
  border-bottom-width: 0px;
}

.top-cat p {
  margin: 10px 10px;
}

.progress-text {
  color: #999;
  margin-left: 10px;
  font-weight: 100;
}

.raised-text {
  font-size: 1.6em;
  font-weight: 400;
}

.full-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.days-left-text {
  font-size: 1.2em;
  font-weight: 100;
  color: #999;
}

.content-frame {
  background-color: white;
  border: 1px solid #d9d9de;
  padding: 0px 30px 30px;
}

.content-frame-footer {
  background-color: rgba(217,217,222,0.2);
  border: 1px solid #d9d9de;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  color: #828587;
  margin-bottom: 40px;
}

.text-strikethru {
  position: relative;
  text-align: center;
}

.line {
  height: 1px;
  background-color: #d9d9de;
  width: 90%;
  margin-left: 5%;
}

.text {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  font-size: 14px;
  top: -16px;
  position: relative;
  color: #828587;
}

.input-1 {
  height: 3.5em !important;
  border: 1px solid #51a33d !important;
  color: #51a33d !important;
  font-weight: 300;
}

.textarea-1 {
  border: 1px solid #51a33d !important;
  color: #51a33d !important;
  font-weight: 300;
}

.page {
  margin-top: 120px;
}

.pull-right {
  float: right;
  text-align: right;
}

.pull-left {
  float: left;
  text-align: left;
}

.thumbnail-frame {
  background-color: white;
  border: 1px solid #d9d9de;
  border-top-width: 0px;
  margin-bottom: 20px;
}

.top-cat a {
  color: white;
  text-decoration: none;
}

.progress {
  margin-right: 10px;
  margin-left: 10px;
}

.progress-bar {
  background-color: #51a33d !important;
  background-image: none !important;
}

.text-bold {
  font-weight: bold;
}

.thumbnail-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1px !important;
}

.circle-image {
  border-radius: 50% !important;
}

.details-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.mobile-off {
  display: block;
}

.mobile-on {
  display: none;
}

.input-2 {
  height: 2.6em !important;
  width: 300px !important; 
  border: 1px solid #51a33d !important;
  color: #51a33d !important;
  font-weight: 300;
  margin-left: -15px;
  padding: 10px 10px;
}

@media screen and (max-width: 767px) {
  .details-image {
    width: 100% !important;
    height: 500px;
    object-fit: cover;
  }
  
  .mobile-off {
    display: none;
  }

  .mobile-on {
    display: block;
  }
  
  .input-2 {
    width: 100% !important;
  }
}


input.search-input,
input.search-input:hover,
input.search-input:focus
input.search-input:active {
  background-color: transparent;
  padding: 15px;
  border: 0 !important;
  outline: none;
  outline-offset: 0;
  border-bottom: 1px solid #d9d9de !important;
}

input.amount-input,
input.amount-input:hover,
input.amount-input:focus
input.amount-input:active {
  background-color: transparent;
  padding: 15px;
  border: 0 !important;
  outline: none;
  outline-offset: 0;
  border-bottom: 1px solid #d9d9de !important;
  width: 100%;
}

.nostyle,
.nostyle:hover,
.nostyle:active,
.nostyle:visited {
  color: #51a33d;
  text-decoration: none;
}

.px-name {
  font-weight: bold;
  font-family: Helvetica;
}

.cat-c {
  margin-top: 30px;
}

.p-desc {
  line-height: 1.2em;
}

.p-content {
  font-size: 1.1em;
  line-height: 1.6em;
}

.cat,
.cat:hover,
.cat:active {
  text-decoration: none;
  background-color: #51a33d;
  color: white;
  padding: 10px;
}
